/*----------Global start---------*/
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
body {
  background-color: #e0dbff;
}
/*----------Global end---------*/

/*----------header start----------*/

/*----------header end----------*/

/*----------body start----------*/

/*----------body end----------*/

/*----------footer start----------*/

/*----------footer end----------*/
