/*----------Global start---------*/
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:visited {
  color: black;
}
li {
  list-style-type: none;
}
body {
  background-color: #fff8dc;
}
/*----------Global end---------*/

/*----------header start----------*/
#header {
  display: flex;
  height: 15vh;
  background-color: #ffe476;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 2;
}
#header > img {
  max-width: 20%;
  border-radius: 50%;
}
#nav-bar {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  line-height: 1.3em;
}
.nav-link:active {
  border-bottom: 4px solid #dbeeff;
  color: #e0dbff;
}

/*----------header end----------*/

/*----------body start----------*/
#packet-title {
  height: 25vh;
  border: 1px solid black; /* just to check the area*/
  background: url(../images/travel.jpg) 50% 95%;
  color: #ffdd54;
}
#packet-title > h1 {
  position: relative;
  top: 55%;
  text-align: center;
  font-size: 2.5em;
}
.card {
  display: flex;
  flex-direction: column;
  border: 2px solid #dbeeff;
  border-radius: 25px;
  padding: 1em;
  margin: 7%;
}
.card-title {
  font-size: 2em;
  text-align: center;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.video_show {
  max-width: 100%;
}
#information-title {
  height: 25vh;
  border: 1px solid black; /* just to check the area*/
  background: url(../images/info.jpg);
  color: #ffdd54;
}
#information-title > h2,
#register-title > h2 {
  position: relative;
  top: 55%;
  text-align: center;
  font-size: 2.5em;
}
#register-title {
  height: 25vh;
  border: 1px solid black;
  background: url("../images/register.jpg") center;
  color: #ffdd54;
}
#information-content {
  padding: 2em;
}
#register-content {
  padding: 2em;
}

/*----------body end----------*/

/*----------footer start----------*/
#contact {
  display: flex;
  height: 15vh;
  background-color: #ffe476;
  justify-content: space-around;
}
#contact-title {
  font-weight: bold;
  font-size: 2.5em;
}
.fot-link {
  color: black;
  font-size: 1.2em;
  line-height: 1.3em;
}
.fot-link:active {
  border-bottom: 4px solid #dbeeff;
  color: #5d0909;
}
/*----------footer end----------*/
