/*----------Global start---------*/
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:visited {
  color: black;
}
li {
  list-style-type: none;
}
body {
  background-color: #fff8dc;
}
/*----------Global end---------*/

/*----------header start----------*/
#header {
  display: flex;
  height: 15vh;
  background-color: #ffe476;
  justify-content: space-around;
  position: sticky;
  top: 0;
}
#header > img {
  width: 25%;
  border-radius: 50%;
}
#nav-bar {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  line-height: 1.3em;
}
.nav-link:active {
  border-bottom: 4px solid #dbeeff;
  color: #5d0909;
}

/*----------header end----------*/

/*----------body start----------*/

/*----------body end----------*/

/*----------footer start----------*/
#contact {
  display: flex;
  height: 15vh;
  background-color: #ffe476;
  justify-content: space-around;
}
#contact-title {
  font-weight: bold;
  font-size: 2.5em;
}
.fot-link {
  color: black;
  font-size: 1.2em;
  line-height: 1.3em;
}
.fot-link:active {
  border-bottom: 4px solid #dbeeff;
  color: #5d0909;
}
/*----------footer end----------*/
