/*----------Global start---------*/
/*----------Global end---------*/

/*----------Header start---------*/

/*----------Header end---------*/

/*----------Main start---------*/

/*----------Main end---------*/

/*----------Footer start---------*/
/*----------Footer end---------*/
